<!--
  Generated template for the MyChildPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.

(click)="openMenu()"
-->



<ion-nav swipeBackEnabled="true"></ion-nav>

<ion-header>

 <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Child Tracker</ion-title>
    
  </ion-navbar>
  <ion-toolbar color="secondary">
    <ion-title>My Childs</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
 <ion-list>
    <div *ngFor="let child of children"  >
      <button ion-item  *ngIf="child.viewFlag==true" (click)="ItemChild($event, child)">
      {{child.fname}}
      </button>
    </div>
  </ion-list>
</ion-content>
